.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5vh 7.5vw;
    height: auto;
    width: 100%;
    color: #252F65;

}

.memes {
    position: relative;
    width: 100%;
    margin: 3vh auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}